.cart-container {
  margin: 10px auto;
  border: 1px solid $jessie-color;
  width: 50%;
  padding: 20px;

  p {
    color: black;
    font-size: 20px;
  }

  // a {
  //   text-decoration: none;
  //   color: white;
  // }

  // a:hover {
  //   color: $jessie-color;
  // }

  h2 {
    text-align: center;
    font-size: 30px;
  }

  hr {
    width: 400px;
    display: inline-block;
  }

  li {
    font-size: 24px;
  }
}

.button-checkout {
  display: block;
  width: 60%;
  height: 40px;
/*   margin: 0 auto;*/
  margin: auto auto 20px auto;
  background-color: #8F7DED;
  border: solid 1px $james-color;
  border-radius: 20px;
  margin-top: 30px;
  /* font-weight: bold; */
  color: white;
  transition: 0.5s ease;
}

.button-checkout:hover {
  background-color: white;
  color: #8F7DED;
  box-shadow: 1px 1px 3px grey;
  transition: 0,5s ease;
}

.check-size {
  font-size: 18px;
}
// .button-checkout {
//   background-color: $james-color;
//   color: white;
//   border-radius: 38px;
//   box-shadow: 2px 2px 10px grey;
//   padding: 10px 20px;
//   text-decoration: none;
//   width: 167px;
//   text-align: center;
//   display: flex;
//   justify-content: center;
// }

// .button-checkout:hover {
//   text-decoration: none;
//   background-color: white;
//   color: $james-color;
//   transition: 0.5s ease;
//   border: inset 1px solid $james-color;
//   width: 167px;
// }

.list-pokemon {
  display: flex;
  justify-content: left;
  margin-left: 18px;
  position: relative;
}

.title-design {
  margin-bottom: 20px;
  font-weight: bold;
}

.title-design-2 {
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: 18px;
}

.warning {
  gap: 10px;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin: auto 50px;
  justify-content: left;
}

.warning h4 {
  margin: auto 0 20px 0;
}

.message-add {
  display: flex;
  justify-items: center;
  margin: 0 50px;
  margin-bottom: 4px;
  text-align: left;
  font-size: 20px;
}

.pokemon-bought {
  // margin-left: 18px;
  display: flex;
  justify-content: left;
}

.total-dash {
  justify-content: space-between;
  display: flex;
  font-size: 24px;
  margin: auto 50px;
}

.balance-dash {
  justify-content: space-between;
  display: flex;
  font-size: 24px;
  margin: auto 50px;
}

.after-dash {
  justify-content: space-between;
  display: flex;
  font-size: 24px;
  margin: auto 50px;
}

.balance-after {
  justify-content: space-between;
  display: flex;
  font-size: 24px;
  margin: auto 50px;
}

.form-add-pokedollars {
  margin: auto 50px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: left;
}

.fa-xmark {
  color: grey;
}

.fa-xmark:hover {
  color: $james-color;
  transition: 0.3s ease-in-out;
}

.cross-delete {
  position: absolute;
  left: -20px;
  top: 2px;
}
