.button-cart {
  display: block;
  width: 60%;
  height: 40px;
  margin: 0 auto 20px auto;
  background-color: $jessie-color;
  border: solid 1px $james-color;
  border-radius: 20px;
  color: white;
  transition-duration: 0.5s;
}

.button-cart:hover {
  background-color: white;
  color: $james-color;
  box-shadow: 1px 1px 3px grey;
  font-weight: bold;
}
