body {
  position: relative;
}

footer {
  position: absolute;
  width: 100%;
  background-color: $james-color;
  color: white;
  height: -3em;
  box-shadow: $box-shadow;
  padding: 20px 0px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
