footer {
  font-weight: bold;
  background-color: $james-color;
  color: white;
  height: 50px;
  box-shadow: $box-shadow;
  padding: 30px 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
