footer {
  font-weight: bold;
  background-color: $james-color;
  color: white;
  height: 50px;
  box-shadow: $box-shadow;
  text-align: center;
  position: relative;
  padding-top: 30px;
  margin-top: 20px;
  position:fixed;
  bottom:0;

  #slogan {
    position: absolute;
    left: 50%;
    top: 25%;
  }
}
