// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "pokemon_card";
@import "footer";


li {
  list-style: none;
}

// .cards {
//   display: flex;
//   justify-content: space-between;
// }
.cards {
  display: flex;
  justify-content: center;
}
